#custom-progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 7px;
  height: 5px;
  cursor: pointer;
  transition: height 0.2s ease-in-out;
}

#custom-progress-bar:hover {
  height: 20px;
  padding-top: 0;
}

#custom-progress-bar > div {
  position: absolute;
  left: 0;
  height: 100%;
}

#custom-progress-bar > .buffer-bar {
  background: #bfbfbf;
  width: 100%;
  z-index: 1;
}

#custom-progress-bar > .play-bar {
  background: #ff0000;
  width: 1%;
  z-index: 2;
}

.custom-view-control {
  position: absolute;
  left: -60px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: fit-content;
}

.custom-view-control .top {
  margin-top: 10px;
}

.custom-view-control .item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 18px 0;
}

.custom-view-control .item label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-view-control .item .btn {
  display: flex;
  width: 48px;
  height: 48px;
  color: #0f0f0f;
  background-color: rgba(0,0,0,0.05);
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-view-control .item.active .btn {
  background-color: rgba(0,0,0,0.9);
}

.custom-view-control .item .btn svg {
  width: 50%;
  height: 50%;
  fill: #0f0f0f;
}

.custom-view-control .item.active .btn svg {
  fill: #fff;
}

.custom-view-control .item .btn:hover {
  background-color: rgba(0,0,0,0.1);
  border-color: transparent;
}

.custom-view-control .item.active .btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.custom-view-control .item .btn:active {
  background-color: rgba(0,0,0,.2);
}

.custom-view-control .item.active .btn:active {
  background-color: rgba(0,0,0,.7);
}

.custom-view-control .item .title {
  margin: 4px -8px 0;
  color: #0f0f0f;
  font-size: 1.4rem;
}


html[dark] .custom-view-control .item .btn {
  background-color: #272727;
}

html[dark] .custom-view-control .item.active .btn {
  background-color: #f1f1f1;
}

html[dark] .custom-view-control .item .btn svg {
  fill: #f1f1f1;
}

html[dark] .custom-view-control .item.active .btn svg {
  fill: #0f0f0f;
}

html[dark] .custom-view-control .item .btn:hover {
  background-color: #3f3f3f;
}

html[dark] .custom-view-control .item.active .btn:hover {
  background-color: #d9d9d9;
}

html[dark] .custom-view-control .item .btn:active {
  background-color: #595959;
}

html[dark] .custom-view-control .item.active .btn:active {
  background-color: #aeaeae;
}

html[dark] .custom-view-control .item .title {
  color: #f1f1f1;
}



#volume-range {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#volume-range input[type=range][orient=vertical] {
  appearance: slider-vertical;
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

#volume-range svg {
  display: none;
  fill: #636363;
  margin-top: 1px;
  padding: 2px;
  width: 2rem;
  cursor: pointer;
}

html[dark] #volume-range svg {
  fill: #f1f1f1;
}

#volume-range svg.show {
  display: flex;
}

#volume-range svg:hover {
  fill: #484848;
}

.speed-layer {
  display: none;
  position: absolute;
  left: -180px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[dark] .speed-layer {
  background-color: #474747;
}
.speed-layer.active {
  display: flex;
}
.speed-layer b {
  font-size: 1.2rem;
  color: #fff;
}

.speed-layer .pin-wrap {
  display: flex;
  justify-content: space-between;
}

.speed-layer .pin-wrap svg {
  display: none;
  cursor: pointer;
  padding: 1px;
  width: 1.6rem;
}

.speed-layer .pin-wrap svg:hover {
  fill: #cccccc;
}

.speed-layer.fixed .pin {
  display: flex;
  fill: #fff;
}

.speed-layer:not(.fixed) .pin-x {
  display: flex;
  fill: #e1e1e1;
}

.field{
  position: relative;
  height: auto;
  margin-top: 22px;
}

.field .value{
  position: absolute;
  color: #dddddd;
  font-weight: 600;
  font-size: 1.3rem;
  bottom: 13px;
}
.field .value.left{
  left: 0;
}
.field .value.right{
  right: 7px;
}

.range{
  height: 60px;
  width: 150px;
}
.sliderValue{
  position: relative;
  width: 100%;
}
.sliderValue span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.sliderValue span.show{
  transform: translateX(-70%) scale(1);
}
.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #99a8b9;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}



.field .value{
  position: absolute;
  color: #dddddd;
  font-weight: 600;
}

.range input{
  padding: 3px 0;
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #494242FF;
  border: 1px solid #045fa4;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #494242FF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #494242FF;
}

ytd-reel-player-overlay-renderer[modern][vertical] #actions.ytd-reel-player-overlay-renderer {
  margin-bottom: 20px !important;
}
