#custom-progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 7px;
  height: 5px;
  cursor: pointer;
  transition: height 0.2s ease-in-out;
}

#custom-progress-bar:hover {
  height: 20px;
  padding-top: 0;
}

#custom-progress-bar > div {
  position: absolute;
  left: 0;
  height: 100%;
}

#custom-progress-bar > .buffer-bar {
  background: #bfbfbf;
  width: 100%;
  z-index: 1;
}

#custom-progress-bar > .play-bar {
  background: #ff0000;
  width: 1%;
  z-index: 2;
}

.custom-view-control {
  position: absolute;
  left: -60px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: fit-content;
}

.custom-view-control .top {
  margin-top: 10px;
}

.custom-view-control .item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 18px 0;
}

.custom-view-control .item label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-view-control .item .btn {
  display: flex;
  width: 48px;
  height: 48px;
  color: #0f0f0f;
  background-color: rgba(0,0,0,0.05);
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-view-control .item.active .btn {
  background-color: rgba(0,0,0,0.9);
}

.custom-view-control .item .btn svg {
  width: 50%;
  height: 50%;
  fill: #0f0f0f;
}

.custom-view-control .item.active .btn svg {
  fill: #fff;
}

.custom-view-control .item .btn:hover {
  background-color: rgba(0,0,0,0.1);
  border-color: transparent;
}

.custom-view-control .item.active .btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.custom-view-control .item .btn:active {
  background-color: rgba(0,0,0,.2);
}

.custom-view-control .item.active .btn:active {
  background-color: rgba(0,0,0,.7);
}

.custom-view-control .item .title {
  margin: 4px -8px 0;
  color: #0f0f0f;
  font-size: 1.4rem;
}


html[dark] .custom-view-control .item .btn {
  background-color: #272727;
}

html[dark] .custom-view-control .item.active .btn {
  background-color: #f1f1f1;
}

html[dark] .custom-view-control .item .btn svg {
  fill: #f1f1f1;
}

html[dark] .custom-view-control .item.active .btn svg {
  fill: #0f0f0f;
}

html[dark] .custom-view-control .item .btn:hover {
  background-color: #3f3f3f;
}

html[dark] .custom-view-control .item.active .btn:hover {
  background-color: #d9d9d9;
}

html[dark] .custom-view-control .item .btn:active {
  background-color: #595959;
}

html[dark] .custom-view-control .item.active .btn:active {
  background-color: #aeaeae;
}

html[dark] .custom-view-control .item .title {
  color: #f1f1f1;
}



#volume-range {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#volume-range input[type=range][orient=vertical] {
  appearance: slider-vertical;
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

#volume-range svg {
  display: none;
  fill: #636363;
  margin-top: 1px;
  padding: 2px;
  width: 2rem;
  cursor: pointer;
}

html[dark] #volume-range svg {
  fill: #f1f1f1;
}

#volume-range svg.show {
  display: flex;
}

#volume-range svg:hover {
  fill: #484848;
}

.speed-layer {
  display: none;
  position: absolute;
  left: -180px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: grab;
  z-index: 1000;
}
.speed-layer:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.speed-layer:active {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: grabbing;
}

html[dark] .speed-layer {
  background-color: #474747;
}
.speed-layer.active {
  display: flex;
}
.speed-layer b {
  font-size: 1.2rem;
  color: #fff;
}

.speed-layer .pin-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.speed-layer .pin-wrap svg {
  display: none;
  cursor: pointer;
  padding: 1px;
  width: 1.6rem;
}

.speed-layer .pin-wrap svg:hover {
  fill: #cccccc;
}

.speed-layer.fixed .pin {
  display: flex;
  fill: #fff;
}

.speed-layer:not(.fixed) .pin-x {
  display: flex;
  fill: #e1e1e1;
}

.field{
  position: relative;
  height: auto;
  margin-top: 22px;
}

.field .value{
  position: absolute;
  color: #dddddd;
  font-weight: 600;
  font-size: 1.3rem;
  bottom: 13px;
}
.field .value.left{
  left: 0;
}
.field .value.right{
  right: 7px;
}

.range{
  height: 80px;
  width: 150px;
}
.sliderValue{
  position: relative;
  width: 100%;
}
.sliderValue span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.sliderValue span.show{
  transform: translateX(-70%) scale(1);
}
.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #99a8b9;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}



.field .value{
  position: absolute;
  color: #dddddd;
  font-weight: 600;
}

.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #494242FF;
  border: 1px solid #045fa4;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #494242FF;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #494242FF;
}

.alert {
  position: fixed;
  top: 50%;
  transform: translate(0%, 50%);
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
  cursor: pointer;
  border-radius: 10px;
  pointer-events: none;
}

.alert.is-comment-panel {
  margin-right: var(--ytd-shorts-watch-while-panel-width);
}

.alert:hover {
  background: rgba(0, 0, 0, 0.6);
}

#video-move-tooltip .ytp-doubletap-arrows-container,
#video-move-tooltip .ytp-doubletap-tooltip{
  position: relative;
  z-index: 1;
}

#video-move-tooltip .move-tooltip-circle {
  top: -30px;
  width: 80px;
  height: 80px;
  position: absolute;
  background: rgba(0, 0, 0, 0.63);
  border-radius: 100px;
  z-index: 0;
}
#video-move-tooltip[data-side=forward] .move-tooltip-circle {
  left: -13px;
}

#video-move-tooltip[data-side=back] .ytp-doubletap-tooltip{
  margin-left: 30px;
}
#video-move-tooltip[data-side=forward] .ytp-doubletap-tooltip{
  margin-left: 20px;
}
#video-move-tooltip[data-side=forward] .ytp-doubletap-seek-info-container{
  left: 70%;
}
#video-move-tooltip[data-side=forward].is-comment-panel .ytp-doubletap-seek-info-container{
  left: 60%;
}

#video-move-tooltip[data-side=back] .ytp-doubletap-base-arrow {
  border-right: 11px solid #fff;
}
#video-move-tooltip[data-side=forward] .ytp-doubletap-base-arrow {
  border-left: 11px solid #fff;
}
#video-move-tooltip .ytp-doubletap-tooltip-label{
  color: #fff;
}

ytd-reel-player-overlay-renderer[is-watch-while-mode] #actions.ytd-reel-player-overlay-renderer {
  margin-bottom: 20px !important;
}

.range-slider.overlay {
  --primary-color: #d6e9ff;
  --track-height: 50px;
  --thumb-size: var(--track-height);
  --thumb-color: var(--primary-color);
  --thumb-shadow: none;
  --progress-flll-shadow: none;
  --progress-shadow: none;
  --progress-background: none;
  --progress-radius: 0px;
  --ticks-color: var(--primary-color);
  --ticks-height: 0;
  --ticks-thickness: 0;
  --ticks-gap: 0px;
  --min-max-font: 700 18px Arial;
  --min-max-opacity: 1;
  --show-min-max: none;
  color: #0366d6;
}
.range-slider.overlay input:hover {
  --thumb-shadow: calc(25px - (50px * var(--is-left-most))) 0 0 -15px #0366d6
  inset;
}
.range-slider.overlay input:active {
  --thumb-color: inherit;
}
.range-slider.overlay .range-slider__values {
  width: calc(100% - 50% / (var(--max) - var(--min)));
}

.range-slider {
  width: 100%;
  --primary-color: #0366d6;
  --value-offset-y: var(--ticks-gap);
  --value-active-color: #fff;
  --value-background: transparent;
  --value-background-hover: var(--primary-color);
  --value-font: 700 12px/1 Arial;
  --fill-color: var(--primary-color);
  --progress-background: #eee;
  --progress-radius: 20px;
  --track-height: calc(var(--thumb-size) / 2);
  --min-max-font: 12px Arial;
  --min-max-opacity: 0.5;
  --min-max-x-offset: 10%;
  --thumb-size: 22px;
  --thumb-color: white;
  --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset,
  0 0 0 99px var(--thumb-color) inset;
  --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset
  var(--thumb-color),
  0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
  --thumb-shadow-hover: var(--thumb-shadow);
  --ticks-thickness: 1px;
  --ticks-height: 5px;
  --ticks-gap: var(
      --ticks-height,
      0
  );
  --ticks-color: silver;
  --step: 1;
  --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
  --maxTicksAllowed: 30;
  --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
  --x-step: Max(
      var(--step),
      var(--too-many-ticks) * (var(--max) - var(--min))
  );
  --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
  --tickIntervalPerc: calc(
      (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) *
      var(--tickEvery, 1)
  );
  --value-a: Clamp(
      var(--min),
      var(--value, 0),
      var(--max)
  );
  --value-b: var(--value, 0);
  --text-value-a: var(--text-value, "");
  --completed-a: calc(
      (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --completed-b: calc(
      (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --ca: Min(var(--completed-a), var(--completed-b));
  --cb: Max(var(--completed-a), var(--completed-b));
  --thumbs-too-close: Clamp(
      -1,
      1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
      1
  );
  --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
  --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
  display: inline-block;
  height: max(var(--track-height), var(--thumb-size));
  background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background-size: var(--tickIntervalPerc) var(--ticks-height);
  background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2 );
  background-position-y: var(--flip-y, bottom);
  padding-bottom: var(--flip-y, var(--ticks-gap));
  padding-top: calc(var(--flip-y) * var(--ticks-gap));
  position: relative;
  z-index: 1;
}
.range-slider[data-ticks-position=top] {
  --flip-y: 1;
}
.range-slider::before, .range-slider::after {
  color: #fff;
  --offset: calc(var(--thumb-size) / 2);
  content: counter(x);
  display: var(--show-min-max, block);
  font: var(--min-max-font);
  position: absolute;
  bottom: var(--flip-y, -2.5ch);
  top: calc(-2.5ch * var(--flip-y));
  opacity: .8;
  transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
  pointer-events: none;
}
.range-slider::before {
  --before: 1;
  --at-edge: var(--thumb-close-to-min);
  content: "0.25";
  left: var(--offset);
}
.range-slider::after {
  --at-edge: var(--thumb-close-to-max);
  counter-reset: x var(--max);
  right: var(--offset);
}
.range-slider__values {
  position: relative;
  top: 50%;
  line-height: 0;
  text-align: justify;
  width: 100%;
  pointer-events: none;
  margin: 0 auto;
  z-index: 5;
}
.range-slider__values::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  background: red;
}
.range-slider__progress {
  --start-end: calc(var(--thumb-size) / 2);
  --clip-end: calc(100% - (var(--cb)) * 1%);
  --clip-start: calc(var(--ca) * 1%);
  --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
  position: absolute;
  left: var(--start-end);
  right: var(--start-end);
  top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2 );
  height: calc(var(--track-height));
  background: var(--progress-background, #eee);
  pointer-events: none;
  z-index: -1;
  border-radius: var(--progress-radius);
}
.range-slider__progress::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  clip-path: var(--clip);
  top: 0;
  bottom: 0;
  background: var(--fill-color, black);
  box-shadow: var(--progress-flll-shadow);
  z-index: 1;
  border-radius: inherit;
}
.range-slider__progress::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--progress-shadow);
  pointer-events: none;
  border-radius: inherit;
}
.range-slider > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  position: absolute;
  left: 0;
  top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)) );
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}
.range-slider > input:not(:only-of-type) {
  pointer-events: none;
}
.range-slider > input::-webkit-slider-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input::-moz-range-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input::-ms-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input:hover {
  --thumb-shadow: var(--thumb-shadow-hover);
}
.range-slider > input:hover + output {
  --value-background: var(--value-background-hover);
  --y-offset: -5px;
  color: var(--value-active-color);
  box-shadow: 0 0 0 3px var(--value-background);
}
.range-slider > input:active {
  --thumb-shadow: var(--thumb-shadow-active);
  cursor: grabbing;
  z-index: 2;
}
.range-slider > input:active + output {
  transition: 0s;
}
.range-slider > input:nth-of-type(1) {
  --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999, 1);
}
.range-slider > input:nth-of-type(1) + output {
  --value: var(--value-a);
  --x-offset: calc(var(--completed-a) * -1%);
  top: 5px;
}
.range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
  --flip: calc(var(--thumbs-too-close) * -1);
}
.range-slider > input:nth-of-type(1) + output::after {
  content: var(--prefix, "x") var(--text-value-a) var(--suffix, "");
  opacity: 1 !important;
}
.range-slider > input:nth-of-type(2) {
  --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
}
.range-slider > input:nth-of-type(2) + output {
  --value: var(--value-b);
}
.range-slider > input:only-of-type ~ .range-slider__progress {
  --clip-start: 0;
}
.range-slider > input + output {
  --flip: -1;
  --x-offset: calc(var(--completed-b) * -1%);
  --pos: calc(
      ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%
  );
  pointer-events: none;
  position: absolute;
  z-index: 5;
  background: var(--value-background);
  border-radius: 10px;
  padding: 2px 4px;
  left: var(--pos);
  transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip) ));
  transition: all 0.12s ease-out, left 0s;
}
.range-slider > input + output::after {
  content: var(--prefix, "x") var(--text-value-b) var(--suffix, "");
  font: var(--value-font);
  color: #fff;
  opacity: 1 !important;
}
.range .one_line {
  border-left: 2px solid #add;
  height: 1rem;
  position: absolute;
  bottom: 20px;
  left: 55px;
  z-index: 100;
}

#custom-help {
  background-color: #fff;
  display: none;
  position: absolute;
  bottom: 0;
  left: -370px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  width: 300px;
  padding: 20px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: grab;
  z-index: 999;
}

#custom-help:active{
  cursor: grabbing;
}

#custom-help.active {
  display: flex;
  flex-direction: column;
}

#custom-help .header {
  margin-bottom: 10px;
  position: relative;
  padding: 5px 0 10px 0;
}

#custom-help .header button{
  position: absolute;
  border: none;
  outline: none;
  padding: 5px 8px;
  border-radius: 14px;
  background: #f2f2f2;
  top: -7px;
  right: -7px;
  cursor: pointer;
}

#custom-help .header button svg {
  width: 1rem;
}

#custom-help .header button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#custom-help .header button:active{
  background-color: rgba(0,0,0,.2);
}

#custom-help .header span{
  font-weight: bold;
  font-size: 2rem;
}

#custom-help .header #logo-icon {
  margin-right: 5px;
  width: 48px;
  height: 48px;
}

#custom-help .header span{
  font-weight: bold;
  font-size: 2rem;
}

#custom-help .row {
  display: flex;
  align-items: center;
}

#custom-help .row.title {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

#custom-help .row:not(.header, .title) {
  justify-content: space-between;
  padding: 8px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  font-size: 1.2rem;
}

#custom-help .row:not(.header) span:nth-child(2) {
  width: 35%;
}

html[dark] #custom-help {
  color: #fff;
  background: #282828;
  box-shadow: none;
}

html[dark] #custom-help .row:not(.header, .title) {
  border-top: 1px solid rgba(255,255,255,0.2);
}

html[dark] #custom-help .header button {
  background-color: rgba(242, 242, 242, .9);
}

html[dark] #custom-help .header button:hover {
  background-color: rgba(242, 242, 242, 0.8);
}

html[dark] #custom-help .header button:active{
  background-color: rgba(242, 242, 242, 0.7);
}